CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_ENABLE_DCDC=y

CONFIG_ZMK_KEYBOARD_NAME="MediaPad3"

# Enable BLE + USB
CONFIG_ZMK_BLE=y
CONFIG_ZMK_USB=y

# Power management
CONFIG_PM=y
CONFIG_PM_DEVICE=y

# Logging
CONFIG_LOG=y
CONFIG_LOG_DEFAULT_LEVEL=3
